header {
    display: flex;
    height: 30vh;
    box-sizing: border-box;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
}

.pointsx, .pointso {
    display: flex;
    justify-content: center;
}

.pointsx > p, .pointso > p {
    margin: 0;
}

main {
    display: flex;
    height: 40vh;
    box-sizing: border-box;
    align-items: center;
}

.board {
    height: auto;
}

.area {
    height: 10vh;
    background: white;
    border: 3px solid black;
    outline: none;
}

.area:hover {
    cursor: pointer;
    background: rgb(240, 240, 240);
}

.area > button {
    padding: 0;
}

#area1, #area2, #area3 {
    border-top: 0;
}

#area1, #area4, #area7{
    border-left: 0;
}

#area3, #area6, #area9 {
    border-right: 0;
}

#area7, #area8, #area9 {
    border-bottom: 0;
}

.game > .row > .col {
    padding: 0;
}

.move {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
}

footer {
    display: flex;
    align-items: center;
    height: 30vh;
}

footer p {
    display: flex;
    justify-content: center;
}

.copy > span {
    display: inline-block;
    transform: rotate(180deg);
    position: relative;
    top: 3px;
}